name: 定时更新 runtime.txt

on:
  schedule:
    - cron: '*/50 * * * *' # 每50分钟触发一次

jobs:
  update-runtime:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout 代码
      uses: actions/checkout@v2

    - name: 更新 runtime.txt
      run: |
        # 更新 runtime.txt 文件
        echo "$(date '+%Y-%m-%d %H:%M:%S')" > runtime.txt

        # 提交更改到仓库
        git config --local user.email "huanthree@gmail.com"
        git config --local user.name "huanthree"
        git add runtime.txt
        git commit -m "自动更新 runtime.txt"
        git push
